@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #F6F5F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 10rem 1rem 10rem;
}

h1 {
    @include text-preset-2;
}

h2 {
    @include text-preset-4;
}

h3 {
    @include text-preset-1;
}

p {
    @include text-preset-3;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: $space-200;
    margin-bottom: $space-200;

    img {
        width: 1.75rem;
        height: auto;
        border-radius: 50%;
    }

    h1 {
        padding-bottom: $space-50;
    }
}

.profile-card {
    padding: $space-400;
    border-radius: $space-100;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);

    h3 {
        margin-bottom: $space-200;
    }
}

.profile-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $space-300;
    max-width: 69.625rem;

    .daniel-card {
        grid-column: span 2;
        background-color: $purple-500;
        background-image: url('../images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: right 3.75rem top;

        img {
            border: 2px solid #A775F1;
        }

        h1, h3 {
            color: $white;
        }

        h2, p {
            color: $purple-50;
        }
    }

    .jonathan-card {
        background-color: $grey-500;

        h1, h3 {
            color: $white;
        }

        h2, p {
            color: $grey-100
        }
    }

    .kira-card {
        grid-row: span 2;
        background-color: $white;

         h1, h3 {
            color: $grey-500;
        }

        h2, p {
            color: $grey-400
        }
    }

    .jeanette-card {
        background-color: $white;

         h1, h3 {
            color: $grey-500;
        }

        h2, p {
            color: $grey-400
        }
    }

    .patrick-card {
        grid-column: span 2;
        background-color: $dark-blue;

        img {
            border: 2px solid $purple-500;
        }

        h1, h2 {
            color: $white;
        }

        h3 {
            color: $grey-200;
        }

        p {
            color: $grey-100;
        }
    }
    
}


//Responsive Styles

@media (max-width: 768px) {

    body {
        margin-top: 5rem;
    }

    .profile-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .kira-card {
        grid-row: 1fr;
        grid-column: span 2;
        order: 1;
    }
}


@media (max-width: 375px) {

    .profile-section {
        display: flex;
        flex-direction: column;
    }

    .daniel-card {
        background-image: none !important;
    }

}